<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Calculadora</title>
</head>
<body class="m-4">
    <h1 class="mx-auto" style="width: 300px;">Calculo UPS</h1>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                <label class="row">Servidor:
                    <input type="number" min="0" name="servidor" required placeholder="Cantidad de servidores">
                </label>
                <label class="row">Switch:
                    <input type="number" min="0" name="switch" required placeholder="Cantidad de switches">
                </label>
                <label class="row">ventiladores:
                    <input type="number" min="0" name="ventiladores" required placeholder="cantidad de ventiladores">
                </label>
                <label class="row">Racks:
                    <input type="number" min="0" name="racks" required placeholder="cantidad de racks">
                </label>
                <label class="row">DMZ:
                    <input type="number" min="0"  name="dmz" required placeholder="cantidad de dmz">
                </label>
                <label class="row">Router:
                    <input type="number" min="0" name="router" required placeholder="cantidad de routers">
                </label>
                <label class="row">Modem:
                    <input type="number" min="0" name="Modem" required placeholder="cantidad de modems">
                </label>
                <label class="row">Pbx:
                    <input type="number" min="0" name="pbx" required placeholder="cantidad de pbx">
                </label>
                <label class="row">monitores:
                    <input type="number" min="0" name="monitores" required placeholder="cantidad de monitores" >
                </label>
                <label class="row">accespoint:
                    <input type="number" min="0" name="access" required placeholder="cantidad de accesspoint">
                </label>
                <label class="row">computadoras:
                    <input type="number" min="0" name="computadoras" required placeholder="cantidad de computadoras">
                </label>
                <label class="row">Aire Acondicionado:
                    <input type="number" min="0" name="aire" required placeholder="cantidad de Aire Acondicionado">
                </label>
                <label class="row">camaras:
                    <input type="number" min="0" name="Cámaras" required placeholder="cantidad de cámaras">
                </label>
                <label class="row">puertas:
                    <input type="number" min="0" name="puertas" required placeholder="cantidad de puertas">
                </label>
                <label class="row">sensores de temperatura:
                    <input type="number" min="0" name="sensor" required placeholder="cantidad de temperaturas">
                </label>
                <label class="row">Servidores NAS:
                    <input type="number" min="0" name="nas" required placeholder="cantidad de NAS">
                </label>
                <input type="submit" min="0" value="Calcular">
            </form>
        </div>
        <div class="col-6">
            <h3>resultado</h3>
            <p>a {{ resultado }} en vatios y los posibles ups son:</p>
            <a href="{{ compra }}">{{ ejemplo }}</a>
        </div>
    </div>
</div>
<h1 style="text-align: center;">Calculo del BTU</h1>
<p>a {{ btus }} en Btu y los posibles equipos son:</p>
<a href="{{url_enfr}}">{{enfriamiento}}</a>
</body>
</html>