<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Calculadora</title>
</head>
<body class="m-4">
    <h1 class="mx-auto" style="text-align: center;">Calculo UPS</h1>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-6">
            <form method="post"  style="background-color: aquamarine;">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Servidor:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="servidor" required placeholder="Cantidad de servidores" class="form-control">
                    </div>
                  </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Switch:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="switch" required placeholder="Cantidad de switches" class="form-control">
                    </div>
                </div>
              
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Ventiladores: </label>
                    <div class="col-sm-9">
                        <input type="number" min="0" name="ventiladores" required placeholder="cantidad de ventiladores" class="form-control">
                      </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Racks:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="racks" required placeholder="cantidad de racks" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">DMZ:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="dmz" required placeholder="cantidad de dmz" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Router:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="router" required placeholder="cantidad de routers" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Modem:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="Modem" required placeholder="cantidad de modems" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Pbx:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="pbx" required placeholder="cantidad de pbx" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">monitores:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="monitores" required placeholder="cantidad de monitores" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">accespoint:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="access" required placeholder="cantidad de accesspoint" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">computadoras:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="computadoras" required placeholder="cantidad de computadoras" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Aire Acondicionado:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="aire" required placeholder="cantidad de Aire Acondicionado" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Cámaras:</label>
                    <div class="col-sm-9">
                      <input type="number" min="0" name="Cámaras" required placeholder="cantidad de cámaras" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">puertas:</label>
                    <div class="col-sm-9">
                        <input type="number" min="0" name="puertas" required placeholder="cantidad de puertas" class="form-control">
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">sensores de temperatura:</label>
                      <div class="col-sm-9">
                        <input type="number" min="0" name="sensor" required placeholder="cantidad de temperaturas" class="form-control">
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Servidores NAS:</label>
                      <div class="col-sm-9">
                        <input type="number" min="0" name="nas" required placeholder="cantidad de NAS" class="form-control">
                      </div>
                    </div>
                    <input type="submit" value="Calcular" style="margin-right: 1rem;">
            </form>
        </div>
        <div class="col-6" style="background-color: aquamarine;">
            <h3>Resultado</h3>
            <p>a {{ resultado }} en vatios y los posibles ups son:</p>
            <a href="{{ compra }}">{{ ejemplo }}</a>
        </div>
    </div>
</div>

<h1 style="text-align: center;">Calculo del BTU</h1>
<div class="container" style="background-color: aquamarine;">
    <p>a {{ btus }} en Btu y los posibles equipos son:</p>
    <a href="{{url_enfr}}">{{enfriamiento}}</a>
    </body>
</div>

</html>